@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for printing */
@media print {
  .no-shadow {
    box-shadow: none !important;
  }

  .page-break {
    page-break-before: always;
    break-before: page;
  }

  .no-scrollbar,
  .print:overflow-visible {
    overflow: visible !important; /* Ensure no scrollbars during print */
  }

  .tabs-boxed {
    display: none !important; /* Hide tabs in print */
  }

  /* Ensure tables do not break rows across pages */
  table {
    page-break-inside: auto;
    width: 100%; /* Ensure table takes full width */
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }


  /* Make sure content uses full page width */
  .print-full-width {
    width: 100% !important;
  }
  
  /* Hide elements not needed for print */
  .hide-on-print {
    display: none !important;
  }
}
